*.a
*.oo
*.so
*.o
*~
.*.swp
.deps
.dirstamp
*.la
*.lo
*.so
*.o
.deps/
.dirstamp
.libs/
Makefile
Makefile.in

/include/xtables.h
/include/iptables/internal.h

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1
/build-stamp
/libiptc.pc
/xtables.pc

/ip6tables
/ip6tables.8
/ip6tables-multi
/ip6tables-save
/ip6tables-restore
/ip6tables-static
/iptables
/iptables.8
/iptables-multi
/iptables-save
/iptables-restore
/iptables-static
/iptables-xml

/debian/build
/debian/iptables-dev.substvars
/debian/iptables.postrm.debhelper
/debian/stamp-build
/debian/stamp-install
/debian/stamp-tarcopy

