.*.d
.*.dd
*.a
*.oo
*.so
*.o
.*.swp
.deps
.dirstamp
Makefile
Makefile.in

/extensions/GNUmakefile
/extensions/initext?.c
/extensions/matches?.man
/extensions/targets?.man

/include/xtables.h

/aclocal.m4
/autom4te*.cache
/compile
/config.guess
/config.h*
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/build-stamp

/ip6tables
/ip6tables.8
/ip6tables-multi
/ip6tables-save
/ip6tables-restore
/ip6tables-static
/iptables
/iptables.8
/iptables-multi
/iptables-save
/iptables-restore
/iptables-static
/iptables-xml

/debian/files
/debian/iptables-dev.debhelper.log
/debian/iptables-dev.postinst.debhelper
/debian/iptables-dev.prerm.debhelper
/debian/iptables-dev
/debian/iptables.debhelper.log
/debian/iptables.postinst.debhelper
/debian/iptables.prerm.debhelper
/debian/iptables.substvars
/debian/iptables
/debian/tmp

